<section class="search-section">
  <div class="search">
    <div class="title">How can we help?</div>
    <div style="position:relative;">
      <input type="text" placeholder="Search">
      <button class="icon-logo" type="button">
        <img src="assets/abstract-clone/arrow-right-icon.svg" alt="search">
      </button>
    </div>
  </div>
</section>
<section class="feature">
  <div class="feature-container">
    <div class="feature-item" *ngFor="let item of features">
      <div class="feature-item-img">
        <img [src]="item.src" alt="icon">
      </div>
      <div class="feature-item-content">
        <h4 id="title">{{item.title}}</h4>
        <div id="desc">{{item.desc}}</div>
        <div>
          <a id="learn-more" role="button" href="">
            Learn more
            <img id="arrow" src="assets/abstract-clone/arrow-right-4c5fd5-icon.svg" alt="learn-more">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>