<header class="w-full">
  <div class="flex justify-between lobe-header mx-auto">
    <div class="my-auto">
      <img class="lobe-logo" src="assets/lobe/logo.svg" alt="logo">
    </div>
    <div class="flex justify-center my-auto">
      <a class="mx-6 font-medium text-neutral-500 selections" href="">Overview</a>
      <a class="mx-6 font-medium text-neutral-500 selections" href="">Examples</a>
      <a class="mx-6 font-medium text-neutral-500 selections" href="">Tour</a>
      <a class="mx-6 font-medium text-neutral-500 selections" href="">Blog</a>
      <a class="mx-6 font-medium text-neutral-500 selections" href="">Help</a>
    </div>
    <div class="my-auto">
      <button class="download-button text-white rounded-3xl font-bold" type="button">Download</button>
    </div>
  </div>
</header>
