header {
  height: 80px;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.lobe-header {
  height: 100%;
  width: 92vw;
}

.lobe-logo {
  height: 21px;
}

@media (max-width: 800px) {
  .small-selections-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 10;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-top: 1px solid #efefef;
    a {
      font-size: 20px;
      padding: 18px 10px;
    }
  }
}

.small-selections-container-visible {
  display: flex;
}

.selections {
  transition: .2s ease-in-out;
}

@media (min-width: 800px) {
  .selections:hover {
    color: #333;
    transform: translateY(-1px) scale3d(1.03,1.03,1.03);
  }
}

.download-button {
  background-color: #04ddb2;
  height: 48px;
  width: 129px;
  transition: .2s ease-in-out;
}

.download-button:hover {
  transform: scale(1.03);
}

.download-button:active {
  transform: scale(0.98);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  // outline: 1px solid limegreen;
}

::selection {
  background: #ccfaf1;
}