<header>
  <div class="header-inner">
    <div class="logo-wrapper">
      <div class="logo-container">
        <a href=""><img class="logo" src="assets/svgexport-1.svg" alt="logo"></a>
      </div>
      <div class="logo-text">
        Help Center
      </div>
    </div>
    <div class="small-site-buttons">
      <div class="small-site-buttons-container">
        <button type="button">1</button>
        <button type="button">2</button>
      </div>
    </div>
    <div class="site-buttons">
      <div class="site-buttons-container">
        <a class="sign-in" role="button" href="">
          Sign in
        </a>
        <a class="submit" role="button" href="">
          Submit a request
        </a>
      </div>
    </div>
  </div>
</header>
