<div class="outer-container flex justify-center">
	<div class="footer-content flex shrink grow flex-row justify-between">
		<div class="flex flex-col px-4 py-0">
			<img class="mb-8 h-6" src="assets/lobe/logo.svg" alt="logo" />
			<div class="color-gray mb-4">A product by Microsoft.</div>
			<div class="color-gray mb-4">All rights reserved.</div>
			<div class="color-gray mb-4">© Microsoft 2021</div>
		</div>
		<div class="flex flex-col px-4 py-0">
			<div class="mb-8 font-semibold">About</div>
			<div class="color-gray effect mb-6 ease-in">Download</div>
			<div class="color-gray effect mb-6 ease-in">Overview</div>
			<div class="color-gray effect mb-6 ease-in">Examples</div>
			<div class="color-gray effect mb-6 ease-in">Blog</div>
		</div>
		<div class="flex flex-col px-4 py-0">
			<div class="mb-8 font-semibold">General</div>
			<div class="color-gray effect mb-6 ease-in">Notice</div>
			<div class="color-gray effect mb-6 ease-in">License</div>
			<div class="color-gray effect mb-6 ease-in">Press Inquiry</div>
			<div class="color-gray effect mb-6 ease-in">Press Images</div>
		</div>
		<div class="flex flex-col px-4 py-0">
			<div class="mb-8 font-semibold">Resource</div>
			<div class="color-gray effect mb-6 ease-in">Help</div>
			<div class="color-gray effect mb-6 ease-in">Tour</div>
			<div class="color-gray effect mb-6 ease-in">Contact</div>
			<div class="color-gray effect mb-6 ease-in">Privacy</div>
		</div>
		<div
			class="flex px-4 py-0 max-[1200px]:flex-col max-[1200px]:gap-y-3 min-[1200px]:flex-row min-[1200px]:gap-x-3"
		>
			<a class="bg-color-green effect flex h-8 w-8 items-center justify-center rounded-full"
				><img class="h-6 w-6" src="assets/lobe/reddit.svg" alt=""
			/></a>
			<a class="bg-color-green effect flex h-8 w-8 items-center justify-center rounded-full"
				><img class="h-6 w-6" src="assets/lobe/twitter.svg" alt=""
			/></a>
			<a class="bg-color-green effect flex h-8 w-8 items-center justify-center rounded-full"
				><img class="h-6 w-6" src="assets/lobe/youtube.svg" alt=""
			/></a>
		</div>
	</div>
</div>
