.color-green {
  color: #04ddb2;
}

.color-gray {
  color: #333;
}

.text-80px {
  font-size: 80px;
}

.content-container {
  max-width: 1272px;
}

.video-preview {
  transform: scale(0.9);
  transition: .2s ease-in-out;
}

.video-preview:hover {
  transform: scale(0.92);
}

.train-with-lobe {
  max-width: 600px;
}

.download-button {
  background-color: #04ddb2;
  height: 64px;
  width: 200px;
  font-size: 24px;
  transition: .2s ease-in-out;
}

.download-button:hover {
  transform: scale(1.05);
}

.download-button:active {
  transform: scale(0.95);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  // outline: 1px solid limegreen;
}

::selection {
  background: #ccfaf1;
}