<div class="relative z-10 flex flex-col justify-center">
	<div class="content-container mx-auto my-14">
		<h1 class="title-text mb-3 text-center font-bold">
			<span class="color-gray">Lobe </span>
			<span class="color-green">Tour</span>
		</h1>
		<p class="desc-text color-gray mx-auto mb-14 max-w-2xl text-center text-3xl">
			Build your first machine learning model in ten minutes. No code or experience required.
		</p>
		<div class="w-full">
			<div>
				<img
					class="video-preview rounded-3xl hover:drop-shadow-2xl"
					src="assets/lobe/video.jpg"
					alt="img"
				/>
			</div>
		</div>
	</div>
	<p class="title-text train-with-lobe mx-auto text-center font-bold leading-tight">
		Train your app with Lobe
	</p>
	<div class="mx-auto mb-40 mt-10">
		<button
			class="download-button rounded-full font-bold text-white hover:drop-shadow-md"
			type="button"
		>
			Download
		</button>
	</div>
</div>
