.color-green {
  color: #04ddb2;
}

.color-gray {
  color: #333;
}

.content-container {
  max-width: 1272px;
}

.title-text {
  font-size: 80px;
}

.desc-text {
  font-size: 32px;
}

.video-preview {
  transform: scale(0.9);
  transition: .2s ease-in-out;
}

.video-preview:hover {
  transform: scale(0.92);
}

.train-with-lobe {
  max-width: 600px;
  color: #333;
}

.download-button {
  background-color: #04ddb2;
  height: 64px;
  width: 200px;
  font-size: 24px;
  transition: .2s ease-in-out;
}

.download-button:hover {
  transform: scale(1.05);
}

.download-button:active {
  transform: scale(0.95);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  // outline: 1px solid limegreen;
}

::selection {
  background: #ccfaf1;
}

@media (min-width: 1200px) and (max-width: 1700px) {
  .content-container {
    max-width: 1088px;
  }

  .title-text {
    font-size: 64px;
  }

  .desc-text {
    font-size: 26px;
  }

  .train-with-lobe {
    max-width: 400px;
  }

  .download-button {
    height: 50px;
    width: 168px;
    font-size: 20px;
  }
}

@media (min-width: 650px) and (max-width: 1200px) {
  .content-container {
    max-width: 968px;
  }

  .title-text {
    font-size: 56px;
  }

  .desc-text {
    font-size: 24px;
  }

  .train-with-lobe {
    max-width: 400px;
  }

  .download-button {
    height: 50px;
    width: 168px;
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .content-container {
    padding: 0 32px;
  }

  .title-text {
    font-size: 38px;
  }

  .desc-text {
    font-size: 18px;
  }

  .train-with-lobe {
    max-width: 300px;
  }

  .download-button {
    height: 42px;
    width: 148px;
    font-size: 18px;
  }
}