* {
  box-sizing: border-box;
}

div.container {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

div.logo img {
  width: 260px;
}

div.email a {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 550;
  text-decoration: none;
  color: #251d20;
}